.login {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 10px;
    border-style: solid;
    border-color: PaleGoldenRod;
    border-radius: 10px;
    padding-top: 10px;
}

.text-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: PaleGoldenRod;
}

.username {
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

.username {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
}

.username:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: antiquewhite;
}

.password {
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

.password {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
}

.password:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: antiquewhite;
}

.sign-in {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: -3px;
    transition: 700ms ease;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
}

.sign-in:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    color: antiquewhite;
}

.password-form,
.username-form {
    border-color: PaleGoldenRod;
}

.password-form:hover,
.username-form:hover {
    border-color: PaleGoldenRod;
}


/*.input-container {
    height: 10px;
    margin-bottom: 15px;
    border-style: hidden;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(26, 182, 33);
    width: 500px;
    
    padding: 8px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 17px;
}*/

.login-button {
    background: black;
    width: 250px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color: PaleGoldenRod;
    border-width: 3px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.loginbutton-padding {
    padding-bottom: 50px;
}

.login-button:hover {
    background-color: rgb(15, 54, 16);
    box-shadow: 0 0 10px rgb(30, 34, 30);
    color: rgb(26, 182, 33);
    cursor: pointer;
    border-color: 3px solid PaleGoldenRod;
}

input {
    border-style: style;
    width: stretch;
    height: 25px;
    border-color: rgb(26, 182, 33);
    border-width: 3px;
    margin-bottom: 15px;
    color: rgb(26, 182, 33);
    background: black;
    border-style: solid;
    letter-spacing: -3px;
    transition: 700ms ease;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
}

input:hover {
    background-color: rgb(15, 54, 16);
}

input:focus {
    outline: none !important;
    border: 3px solid rgb(30, 223, 40);
    box-shadow: 0 0 10px rgb(26, 182, 33);
}

header {
    border-style: solid;
    border-color: PaleGoldenRod;
    border-width: 10px;
    margin: 50px;
    margin-top: 30px;
    font-size: 20px;
    border-top-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

header h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

.container {
    font-family: 'Odibee Sans', cursive;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

header h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

.bottom-text {
    font-family: 'Odibee Sans', cursive;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

.user-guess {
    border-color: palegoldenrod;
}