h1 {
    color: lime;
    font-size: 108px;
    font-family: Digital Dream;
    text-align: center;
}

body {
    background-image: url("https://st2.depositphotos.com/1006472/5665/i/600/depositphotos_56658535-stock-photo-abstract-computer-code-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#start-button {
    background:aqua;
    margin:0 auto;
    display:block;
    font-size:80px;
    font-family: Digital Dream;
    border: 5px outset lime;
    border-radius: 12px;
    text-align: center;


}

#score-button {
    background:aqua;
    margin:0 auto;
    display:block;
    font-size:80px;
    font-family: Digital Dream;
    border: 5px outset lime;
    border-radius: 12px;
    text-align: center;
}

#logout-button {
    background:aqua;
    margin:0 auto;
    display:block;
    font-size:80px;
    font-family: Digital Dream;
    border: 5px outset lime;
    border-radius: 12px;
    text-align: center;


}

#logout_page {
    font-size: 72px;
    font-family: Digital Dream;
    text-align: center;
    padding: 375px 0;

}

#score_box {


    background-color: black;
    color: aqua;;
    font-size: 54px;
    font-family: Digital Dream;
    border: 3px double lime;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    width: 450px;
    height: 600px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}